@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
     
  }}
  article{
      background: #ccc;
  }
  
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

