<!-- <h1 style="color: rgb(47, 148, 47)">forblock works!</h1> -->
    <div class="column" >
        <h2 class="multicolortext">For loop example</h2>
        <table *ngFor="let nam of students">
            <tr>
                <td >{{nam.name}}</td>
                <td>-</td>
            </tr>
            <tr *ngFor="let educations of nam.edu">
                <td></td>
                <td>{{educations}}</td>
            </tr>
        </table>
    </div>
    <div class="column">
        <h2 class="multicolortext">Used if statement within for loop</h2>

        <ul *ngFor="let nam of names ">
            <li>Id:{{nam.id}}</li>
            <li>{{nam.product}}</li>
            <ng-container *ngIf="nam.stock!=0;then stockval;else outstock"></ng-container>
            <ng-template #stockval>
                <li>
                    Last<mark>{{nam.stock}}</mark></li>
            </ng-template>
            <ng-template #outstock>
                <li>Out of Stock</li>
            </ng-template>

        </ul>
    </div>
