  ul {
  list-style-type: none;
  margin: 0;
  padding: 2% 2%;
  overflow: hidden;
  background-color: rgb(14, 150, 37);
}

li {
  float: left;
  color: aliceblue;
  padding: 1% 1%;
}

li a {
  display: block;
  
  color: white;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(233, 39, 39);
}

.active {
  background-color: rgb(9, 49, 10);
} 
/* ul{
    box-shadow: 3px 2px 4px rgb(19, 204, 44);
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
} */